<article class="h-entry post post--note <%= note.is_reply? ? 'post--reply' : '' %>">
  <% if note.published? %>
    <%= link_to long_post_path(note.params), class: "u-url quiet" do %>
      <%= render partial: "posts/time", object: note.published_at %>
    <% end %>
  <% end %>
  <% if note.is_reply? %>
    <%= render partial: "notes/reply_to", locals: {note: note} %>
  <% end %>
  <p class="p-name e-content"><%= note_content(note) %></p>
    <% if note.syndicates.any? %>
      <footer>
        <%= render "posts/syndicates", post: note %>
      </footer>
    <% end %>
    <a class="u-author" href="/"></a>
</article>
