<article class="h-entry note">
  <div class="p-author h-card" href="/">
    <img src="/avatar.jpg" />
  </div>
  <div class="p-name e-content"><%= note.content %></div>
  <footer>
  <% if note.published? %>
    <%= link_to long_note_path(note.params), class: "u-url" do %>
      <time class="dt-published" datetime="<%= note.published_at.strftime('%Y-%m-%dT%H:%M:%S.%L%z') %>">
        <%= note.published_at.strftime("%a, %b %-d, %Y %l:%M%P %R") %>
      </time>
    <% end %>
    <div class="syndication">
      <% note.syndicates.each do |syndicate| %>
        <p>Also posted to <%= link_to syndicate.silo.name, syndicate.url, rel: "external syndication", class: "u-syndication" %>
    <% end %>
    </div>
  <% end %>
  </footer>
</article>
