<h1>New Article</h1>
<%= form_for @article, url: adam_articles_path do |f| %>
  <%= f.text_field :title, autofocus: true, placeholder: "Title" %>
  <%= f.text_area :content, class:"textarea--article" %>
  <div>
  <%= label_tag :publish do %>
    <%= check_box_tag :publish %>
    Publish
  <% end %>
  </div>

  <div style="margin-top: 1em">
    <%= f.submit %>
  </div>
<% end %>
