<div class="indiemark-item <%= indie_mark_item.completed? ? 'completed' : ''%>" data-item-id="<%= indie_mark_item.id %>">
  <h3><%= indie_mark_item.title %> <% if indie_mark_item.completed? %>(<%= indie_mark_item.score %>pts)<% end %></h3>
  <p><%= indie_mark_item.details %></p>
</div>
