<div class="action-bar">
  <%= link_to "Delete repost", adam_repost_path(@repost), remote: true, method: :delete, data: { confirm: "Are you sure you want to delete this repost?" } %>
  <% unless @repost.published? %>
    <%= form_tag publish_adam_repost_path(@repost), method: :put do %>
      <%= label_tag :send_to_twitter do %>
        <%= check_box_tag :send_to_twitter %>
        Send to Twitter?
      <% end %>

      <%= submit_tag "Publish" %>
    <% end %>
  <% end %>
</div>
<%= render "adam/syndicates/syndicates", post: @repost %>
<h1>Preview</h1>
<%= render "reposts/repost", { repost: @repost } %>


