<div class="link-preview">
  <% unless preview.image.nil? %>
    <%= link_to preview.url do %>
      <%= image_tag preview.image %>
    <% end %>
  <% end %>
  <div class="link-preview__content">
    <div class="link-preview__metadata">
    <span class="link-preview__domain">
      <%= link_to URI.parse(preview.url).host, preview.url, class: "underline" %>
    </span>
    <% if preview.author_name.present? %>
      <span class="link-preview__author">
        by <%= preview.author_name %>
      </span>
    <% end %>
    </div>
    <% unless preview.title === preview.summary %>
      <h4 class="link-preview__title"><%= preview.title.truncate(140, omission: '...') %></h4>
    <% end %>
    <% if preview.summary %>
      <p class="link-preview__description"><%= preview.summary %></p>
    <% end %>
  </div>
</div>
