<%= form_for @note, url: adam_notes_path do |f| %>
  <%= f.text_area :content, autofocus: true, rows: 5, style: "width: 100%;" %>
  <%= label_tag :publish do %>
    <%= check_box_tag :publish %>
    Publish
  <% end %>
  <div style="margin-top: 1em">
    <%= f.submit %>
  </div>
<% end %>
