<!DOCTYPE html>
<html>
  <head>
    <title>Adam Dawkins</title>
    <link rel="icon" href="/avatar.jpg" type="image/jpg" />
    <link rel="apple-touch" href="icon.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: "screen" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <link rel="stylesheet" href="https://use.typekit.net/zde4kfh.css">
    <link href="https://adamdawkins.uk/webmentions" rel="webmention" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://adamdawkins.ngrok.io/micropub">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Adam Dawkins", root_path, class: "quiet" %></h1>
      <%= link_to "📔", notes_path, class: "header-action", title: "Notes" %>
      <%= link_to "📄", articles_path, class: "header-action", title: "Articles" %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render "shared/bio" %>
    </footer>
  </body>
</html>
